body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 5px;
}
  
h2 {
  margin: 0;
  font-size: 1.8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

.header-logos {
  display: flex;
  gap: 1rem;
}

.header-logos img {
  height: 1.8rem;
}